<div class="container-fluid">
    <div class="middle-margin-top">

        <!-- Div de l'introduction de la page-->
        <div class="neg-margin-top tiny-margin-top">
            <h1 class="text-center">Gestion du compte</h1>
        </div>

        <!-- Div du profil -->
        <div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Gestion du profil</h3>
                </div>
                <div class="panel-body">
                    <a href="#/profil">
                        <div class="well well-sm" style="margin-bottom:-1px;">Voir mon profil</div>
                    </a>
                    <a href="#/identite">
                        <div class="well well-sm" style="margin-bottom:-1px;">Gérer mon identité</div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Div du fil d'actu -->
        <div>
            <a href="#/gestionFilActu" class="sans-style-a">
                <div class="panel panel-success">
                    <div class="panel-heading">
                       <h3 class="panel-title text-white">Gestion du fil d'actualités</h3>
                    </div>
                </div>
            </a> 
        </div>

        <!-- Div du réseau (voir les contacts, en chercher un par barre de recherche, afficher des contacts potentiels)-->
        <div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Gestion des contacts</h3>
                </div>
                <div class="panel-body">
                    <a href="">
                        <div class="well well-sm" style="margin-bottom:-1px;">Voir mes contacts</div>
                    </a>
                    <a href="">
                        <div class="well well-sm" style="margin-bottom:-1px;">Contacts potentiels</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>