<div>
    <link rel="stylesheet" type="text/css" href="styles/bootstrapYeti_reseau_realisation.css">
    <!-- Div pour créer une nouvelle discussion -->
    <div class="margin-bot-20-neg">
        <a href="#/new_discussion" class="sans-style-a">
            <div class="well">
                <p class="margin-left-10">
                    <i class="fa fa-plus-circle fa-2x"></i>
                    <strong class="font-size-1-3">Créer une nouvelle discussion</strong>
                </p>
            </div>
        </a>
    </div>
    
    <!-- Div contenant toutes les réalisations -->
    <div>
        <a href="" class="sans-style-a"> <!-- Rediriger vers la page de la conversation --> 
            <div class="well width-100 margin-bot-20-neg"> <!-- Mettre un ng-repeat pour chaque réalisations -->
                <!-- Div de l'image -->
                <div>
                    <img src="http://images.charentelibre.fr/images/2013/08/22/c-est-l-extase-totale-sur-le-chantier-de-villognon-petits_370950_536x330.jpg" class="real-image-size">
                </div>
                <!-- Div du titre et des types de travaux et réalisation -->
                <div>
                    <h4><strong>Pour ou contre la création d'un port supplémentaire à Marseille</strong></h4>
                    <strong>Créateur(s)</strong> : Michel Dubuisson <br>
                    <strong>Catégorie</strong> : Insolite <br>  
                </div>
                <!-- Div de le description et date -->
                <div>
                    Date de création : 05/06/2015
                </div>
            </div>
        </a>
    </div>
 </div>