<div class="container-fluid" ng-swipe-right="$location.path('/')">
    <div class="middle-margin-top">

        <!-- Fichiers CSS a utiliser selon l'entity_type est un article -->
        <link type="text/css" rel="stylesheet" href="styles/bootstrapYeti_{{filter.entity_type | getCSS}}.css">
        <link type="text/css" rel="stylesheet" href="styles/main.css">
        <a name="top"></a>

        <div class="home-neg-margin-top text-center">
            <h1>Mon fil d'actualités <span ng-click="$location.path('/gestionFilActu')" class="fa fa-pencil"></span></h1>
        </div>
        <!-- Div de la barre de recherche -->
        <form ng-submit="search(filter)" >
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="filter.keywords" placeholder="Effectuez une recherche..."/>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="search(filter)">&nbsp<i class="fa fa-search"></i>&nbsp</button>
                    </span>
                </div>
            </div>
        </form>

        <!-- Div du toggle -->
        <div ng-if="filter.keywords!=undefined && filter.keywords!=''" class="text-center tiny-margin-bottom">
            <toggle-switch class="hauteurToggleButton"
                ng-init="filter.sort_order_date_or_relevance=false"
                ng-click="switchDateAndRelevance()"
                ng-model="filter.sort_order_date_or_relevance"
                on-label="Date" off-label="Pertinence" knob-label={{filter.switch_label}}>
            </toggle-switch> <br>
        </div>

        <!-- Div du loader -->
        <div ng-if="config.loader" class="loaderLocation">
            <div class="spinner">
                <div class="spinner-container container1">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container2">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container3">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
            </div>
        </div>

        <!-- Si il n'y a aucun résultat, alors on affiche un message d'erreur -->
        <div ng-if="articles==null">
            <p class="lead">Désolé, il n'y a aucun résultat pour votre recherche...</p>
        </div>

        <!-- Div des 4 faux articles au chargement de la page -->
        <div ng-if="config.loader" class="fakeArticle">
            <div class="row text-center">
                <!-- Premier faux article -->
                <div ng-repeat="t in repeteFakeArticles(4) track by $index" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="panel panel-default well hauteur-fixe">
                        <div class="hauteur-fixe-article">
                            <img src="http://www.edisio.fr/flash/interrupteur/fond/gris.jpg" class="img-rounded img-responsive center-block hauteur-fixe-img toLeft opacity">
                        </div>
                        <div class="panel-body big-neg-margin-top">
                            <!-- Titre -->
                            <div class="ellipsisTitre tiny-negative-margin-top-media">
                                <h4>Lorem ipsum Dolor sit amet</h4>
                            </div>
                            <!-- Teaser -->
                            <div class="ellipsis">
                                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>             
                        <div>
                            <button type="button" class="btn btn-sm btn-primary text-center opacity">En savoir plus</button>
                        </div> 
                    </div>
                </div>
            </div>
        </div>

        <!-- Div d'un article -->
        <div class="row text-center">
            <div ng-repeat="article in articles | filter:query"> 
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" >
                    <div class="panel panel-default well hauteur-fixe ">
                        <div class="hauteur-fixe-article">
                            <!-- Image -->
                            <div ng-if="article.sm_image_url[0]">   
                                <a href="#/articles/{{article.id}}">
                                    <img ng-src="{{article.sm_image_url[0]}}" class="img-rounded img-responsive center-block hauteur-fixe-img toLeft">
                                </a>
                            </div>
                            <div class="panel-body">
                                <!-- Titre -->
                                <div class="ellipsisTitre tiny-negative-margin-top-media">
                                    <a href="#/articles/{{article.id}}">
                                        <h4 ng-if="article.label">{{article.label}}</h4>
                                    </a>
                                </div>
                                <!-- Teaser -->
                                <div class="ellipsis">
                                    <p class="text-justify" ng-bind-html="article.teaser" ng-if="article.teaser"></p>
                                </div>
                            </div> 
                        </div>             
                        <div>
                            <a href="#/articles/{{article.id}}" class="text-white">
                                <button ng-if="article.entity_type=='article_edito'" type="button" class="btn btn-sm btn-actus text-center">
                                    En savoir plus
                                </button>
                                <button ng-if="article.entity_type=='produitheque_produit'"type="button" class="btn btn-sm btn-produits text-center">
                                    En savoir plus
                                </button>
                                <button ng-if="article.entity_type=='reseau_realisation'"type="button" class="btn btn-sm btn-real text-center">
                                    En savoir plus
                                </button>
                            </a>                            
                        </div> 
                    </div>
                </div>
                <!-- PUBS -->
                <div id="pubsHome">
                    <div id="pubArticles" ng-if="factory.emplacementPub($index)" class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 hauteur-fixe-pub">
                        <div class="text-center withLessMargin-media" ng-controller="PubCtrl">
                            <a href="{{pub.clic}}" target="_blank">
                                <img ng-src="{{pub.fichier}}" class="middle-margin-top largeur-pub-media little-margin-bottom">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- FIN PUBS-->          
            </div>
        </div>

        <!-- Div de la pagination -->

        <div class="hide">{{nb_page = (ws.nb / ws.nb_item)>10?10:(Math.ceil(ws.nb / ws.nb_item))}} {{pageCourante = ws.page_start}}</div>
        <div class="text-center" ng-if="nb_page>1"> 
            <ul class="pagination">
                <li ng-if="pageCourante!='1'"><a href="" ng-click="filterPage(int_val(pageCourante)-1)">&lt; Page précédente</a></li>
                <li ng-if="pageCourante<nb_page"><a href="" ng-click="filterPage(int_val(pageCourante)+1)">Page suivante &gt;</a></li>
            </ul>
        </div>
    </div>
</div>