<div class="margin-top-45-neg">
	<carousel>
	    <slide ng-repeat="connect in connexion" active="connect.active">
	        <div class="width-100 height-100 background-cover" style="background-image:url({{connect.image}});">
	        	<div class="carousel-caption">
	        		<form class="form-horizontal width-100">
	        			<!-- Prénom -->
	        			<div class="form-group">
	        					<input type="text" class="form-control" id="inputEmail" placeholder="Prénom">
	        			</div>
	        			<!-- Nom -->
	        			<div class="form-group margin-top-15-neg">
	        					<input type="text" class="form-control" id="inputEmail" placeholder="Nom">
	        			</div>
	        			<!-- Adresse mail -->
	        			<div class="form-group margin-top-15-neg">
	        					<input type="text" class="form-control" id="inputEmail" placeholder="Email">
	        			</div>
	        			<!-- Mot de passe -->
	        			<div class="form-group margin-top-15-neg">
	        		    		<input type="password" class="form-control" id="inputPassword" placeholder="Mot de passe">
	        		    </div>
	        		    <p>En vous inscrivant sur Batiactu, vous acceptez les <a href="">Conditions générales d'utilisation de Batiactu</a>, la <a href="">Politique de confidentialité</a> et la <a href="">politique relative aux cookies</a> de Batiactu</p>
	        		    <a href="">
	        		    	<button class="btn btn-primary width-button-identification">S'inscrire</button>
	        		    </a>
	        		</form>
	        	    <p>Vous avez déjà un compte? <a href="#/connexion">Identifiez-vous</a></p>
	    		</div>
	    	</div>
	  	</slide>
	</carousel>
</div>
