<div class="container-fluid">
    
    <!-- Div de l'introduction de la page-->
    <div class="">
        <h1 class="text-center">Gestion du compte</h1>
    </div>

    <!-- Div des informations principales -->
    <div class="z-index-9999">
        <img src="images/profil.png" alt="Photo du profil" class="img-responsive photo-profil pull-left margin-right-15">
        <div class="info-principale-profil">
            <p><strong class="font-size-1-4">Prénom Nom</strong></p>
            <p><i class="fa fa-briefcase"></i> <strong class="font-size-1-4">Métier</strong></p>
            <p><i class="fa fa-globe"></i> Ville, Pays</p>
        </div>
        <div class="pull-left margin-top-20-neg margin-left-125-neg">
            <p>Modifier</p>
        </div>
    </div>

    <hr>

    <div>
        <p><i class="fa fa-pencil"></i> Ma description : Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p><i class="fa fa-book"></i> Mon savoir-faire : Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <hr>

    <div>
        <p><i class="fa fa-birthday-cake"></i> Date de naissance</p>
        <p><i class="fa fa-envelope-o"></i> Email</p>
        <p><i class="fa fa-phone"></i> Téléphone</p>
        <p><i class="fa fa-graduation-cap"></i> Formation</p>
        <p><i class="fa fa-building"></i> Société</p>        
        <p><i class="fa fa-suitcase"></i> Statut professionnel</p>
        <p><i class="fa fa-pie-chart"></i> Secteur d'activité</p>
    </div>

    <div class="text-center">
        <a href="#/enCoursDeveloppement">
            <button class="btn btn-real text-white width-60">Modifier mes informations</button>
        </a>
    </div>


</div>