<!-- Div du titre + infos image -->
<div class="text-center">
    <h2 class="small-caps" ng-bind-html="article.label | replaceCharacter"></h2>
    <p class="lead" ng-controller="ArticlesCtrl">
    	Par <a href="#" ng-click="sortByFabricants(article.ss_indus)">{{article.ss_indus}}</a>
    </p>
    <img ng-if="article.sm_image_url[0]" class="img-responsive img-thumbnail" ng-src="{{article.sm_image_url[0]}}"/>
</div>

<!-- Div contenant le teaser et le texte de l'article. Contient aussi la signature de l'auteur, la date de publication -->
<div class="tiny-margin-top">  
    <p ng-bind-html="unArticle.zs_json.produit.descriptif | replaceCharacter" class="text-justify"></p>
</div>
<!-- Div des informations du produit -->
<div>
	<!-- Vidéo -->
	<div ng-if="unArticle.zs_json.produit.video!='' && unArticle.zs_json.produit.video!='0'  && unArticle.zs_json.produit.url_video">
		<a href="{{unArticle.zs_json.produit.url_video}}" target="_blank">Découvrir la vidéo de ce produit</a>
	</div>

	<!-- PDF -->
	<div ng-if="unArticle.zs_json.produit.pdf!='' && unArticle.zs_json.produit.pdf!='0' && unArticle.zs_json.produit.url_video">
		<a href="{{unArticle.zs_json.produit.url_pdf}}" target="_blank"> Ouvrir la fiche PDF de ce produit</a>
	</div>

	<!-- Date -->
	<p>
		<strong>Date</strong> : 
		{{article.timestamp.substr(8,2)}}/{{article.timestamp.substr(5,2)}}/{{article.timestamp.substr(0,4)}}
	</p>
	<!-- PEUT ETRE A SUPPRIMER -->
	<p ng-if="article.sm_meta">
		<strong>Mots clés</strong> : <ul><li ng-repeat="keyword in article.sm_meta"> {{keyword}} </li></ul>
	</p>
</div>