<!-- Div permettant de redimensionner une image avec la fonction imgResize, et de mettre en majuscule la première lettre d'une ville -->
<div class="hide">
	{{uneURLImage = imgResize(article.sm_image_url[0])}}
	{{uneGrandeURLImage = imgResizeToBig(article.sm_image_url[0])}}
	{{lieu = upperCaseFirstChar(article.sm_ville[0])}}
</div>

<div ng-if="prevURL=='/realisations_preferees'">
	<button class="btn btn-xs btn-primary">
		<i class="fa fa-arrow-left"></i>Retour aux réalisations préférées
	</button>

</div>

<!-- Div du titre + infos image -->
<div class="text-center">
    <h2 class="small-caps" ng-bind-html="article.label | replaceCharacter"></h2>
    <a id="toBigImg" rel="group" href="{{uneGrandeURLImage}}">
    	<img ng-if="article.sm_image_url[0]" class="img-responsive img-thumbnail" ng-src="{{uneURLImage}}" alt=""/>
    </a>
</div>

<!-- Div contenant le teaser et le texte de l'article. Contient aussi la signature de l'auteur, la date de publication -->
<div class="tiny-margin-top">  
    <p ng-if="article.ts_texte==''" class="tailleTeaser text-justify" ng-bind-html="article.teaser | replaceCharacter"></p>
    <p ng-if="article.ts_texte" ng-bind-html="article.ts_texte | replaceCharacter" class="text-justify"></p>
    <p ng-bind-html="unArticle.texte | replaceCharacter" class="text-justify"></p>
    <span><em>{{unArticle.signature}} ({{article.timestamp.substr(8,2)}}/{{article.timestamp.substr(5,2)}}/{{article.timestamp.substr(0,4)}})</em></span>
</div>

<!-- Div des informations complémentaires d'une réalisation -->
<div>
	<hr>
	<p class="lead">Informations sur la réalisation</p>

	<p ng-if="article.sm_createurs[0]">
		<strong>Créateur</strong> : <span>{{article.sm_createurs[0]}}</span>
	</p>

	<p ng-controller="ArticlesCtrl">
		<strong>Travaux</strong> :
		<a href="#" ng-click="sortByTypeTravaux(article.ss_type_travaux)">
			<button type="button" class="btn btn-xs btn-danger">{{article.ss_type_travaux | traduction}}</button>
		</a>
	</p>
	<p ng-controller="ArticlesCtrl">
		<strong>Type de réalisation</strong> :
		<a href="#" ng-click="sortByTypeRealisation(article.ss_type_real)">
			<button type="button" class="btn btn-xs btn-danger">{{article.ss_type_real | traduction}}</button>
		</a>
	</p>
	<p>
		<strong>Lieu</strong> :	<span>{{lieu}}</span>
	</p>
	<p>
		<strong>Date</strong> :	<span>{{article.ss_mois}}/{{article.ss_annee}}</span>
	</p>
	<p>
		<strong>Principaux matériaux, équipements ou solutions techniques utilisés pour cette réalisation</strong> :
		<span ng-if="article.sm_tags.length==1" ng-repeat="tag in article.sm_tags">
			<b class="text-danger">{{tag}}</b>
		</span>
		<ul>
			<li ng-if="article.sm_tags.length!=1" ng-repeat="tag in article.sm_tags" class="text-danger"><b>{{tag}}</b></li>
		</ul>
	</p>
</div>

<!-- Div du bouton "Ajouter cette réalisation aux favoris -->
<div class="text-center">
	<br>
	<button ng-click="addRealToFav()" class="btn btn-xs btn-primary text-center">
		Ajouter cette réalisations aux favoris
	</button>
	<br>
</div>