<!-- Div du titre + infos image -->
<div class="text-center">
    <h2 class="small-caps" ng-bind-html="article.label | replaceCharacter"></h2>
    <img ng-if="article.sm_image_url[0]" class="img-responsive img-thumbnail" ng-src="{{article.sm_image_url[0]}}"/>
</div>

<!-- Div du teaser et du texte du groupe -->
<div class="tiny-margin-top">  
    <p ng-bind-html="article.teaser | replaceCharacter" class="text-justify"></p>
    <p ng-if="article.teaser!=article.ts_texte" ng-bind-html="article.ts_texte | replaceCharacter" class="text-justify"></p>
</div>

<hr>

<!-- Div contenant les informations du groupe (categories, membres, discussions et date de publication) -->
<div>

	<p class="lead">Informations sur le groupe</p>

	<div ng-if="article.sm_createurs">
		<!-- S'il y a un seul créateur -->
		<p ng-if="article.sm_createurs.length==1"> <strong class="tailleInfos">Créateur</strong> : {{article.sm_createurs[0]}} </p>
		<!-- S'il y a plusieurs créateurs -->
		<p ng-if="article.sm_createurs.length>1"> <strong class="tailleInfos">Créateurs</strong> : 
			<span ng-repeat="createur in article.sm_createurs">{{createur}} </span>
		</p>	
	</div>	

	<!-- Catégorie -->
	<p ng-controller="ArticlesCtrl" ng-if="article.ss_categorie">
		<strong class="tailleInfos">Catégorie</strong><br>
		<a href="#/groupes" ng-click="sortByCategories(article.ss_categorie)">
			<button class="btn btn-xs btn-primary">{{article.ss_categorie}} </button>
		</a>
	</p>
	<!-- Membres -->
	<p ng-if="article.ss_membres_url && article.is_num_membres">
		<strong class="tailleInfos">Membres</strong><br>
		<span>Il y a {{article.is_num_membres}} membre<span ng-if="article.is_num_membres!='1'">s</span> dans ce groupe, 
			<a href="#/enCoursDeveloppement">
				<span ng-if="article.is_num_membres!='1'">Voir les membres de ce groupe</span>
				<span ng-if="article.is_num_membres=='1'">Voir le membre</span>
			</a>
		</span>
	</p>
	<!-- Discussions -->
	<p ng-if="article.ss_discussions_url && article.is_num_discussions">
		<strong class="tailleInfos">Discussions</strong><br>
		<span>
			Il y a {{article.is_num_discussions}} discussion<span ng-if="article.is_num_discussions!='1'">s</span> au sein de ce groupe, 
			<a href="#/enCoursDeveloppement">
				<span ng-if="article.is_num_discussions!='1'">Voir les discussions de ce groupe</span>
				<span ng-if="article.is_num_discussions=='1'">Voir la discussion de ce groupe</span>
			</a>
		</span>
	</p>
	<p>Groupe créé le <em>{{article.timestamp.substr(8,2)}}/{{article.timestamp.substr(5,2)}}/{{article.timestamp.substr(0,4)}}</em></p>

</div>