<div ng-swipe-left="pageSuivante(page, unArticle)" ng-swipe-right="pagePrecedente(page, unArticle)">
    <div ng-repeat="TPage2 in unArticle.TPage">

        <div class="hide">
            {{unObjet = lienPhoto(unArticle.TLienPhoto, page)}}
            <div ng-repeat="photo in unArticle.TLienPhoto">
                {{maPhoto = photo.photo.fichier1}}
                <a class="fancybox-button" rel="fancybox-button" href="{{article.sm_image_url[0].substr(0,31)}}{{unObjet.taille.toLowerCase()}}/cadre/{{maPhoto}}" title="{{photo.photo.titre}}">
                    <img ng-if="article.sm_image_url[0]" ng-src="{{article.sm_image_url[0].substr(0,31)}}{{unObjet.taille.toLowerCase()}}/cadre/{{maPhoto}}"><br>
                </a>
            </div>
        </div>



        <div ng-if="page==TPage2.page">
            <!-- Div du titre + infos de l'image -->
            <div class="text-center">
                <h1 ng-bind-html="TPage2.titre | replaceCharacter"></h1>
                <a class="fancybox-button" rel="fancybox-button" href="{{article.sm_image_url[0].substr(0,31)}}{{unObjet.taille.toLowerCase()}}/cadre/{{unObjet.fichier}}" title="{{TPage2.titre}}">
                    <img ng-if="article.sm_image_url[0]" ng-src="{{article.sm_image_url[0].substr(0,31)}}{{unObjet.taille.toLowerCase()}}/cadre/{{unObjet.fichier}}"><br>
                </a>
                <p ng-if="unArticle.TLienPhoto.length > 1"><b>Faites glisser votre doigt pour poursuivre le diaporama</b></p>

                <p class="opacity-5" ng-if="unArticle.signature">Source : {{unArticle.TLienPhoto[0].photo.source}} © </p>
            </div>



            <!-- Div contenant le texte de l'article / signature de l'auteur et date de publication -->
            <div>
                <p ng-bind-html="TPage2.texte | replaceCharacter" class="text-justify"></p>
                <!-- Div de la pagination -->
                <div class="text-center margin-top-20-neg"> 
                    <ul class="pagination">
                        <li ng-if="int_val(page) > 1">
                            <a href="#/articles/{{$routeParams.id}}/{{int_val(page)-1}}">&lt; Page précédente</a>
                        </li>
                        <li ng-if="int_val(page) < comptePage(unArticle.TPage)">
                            <a href="#/articles/{{$routeParams.id}}/{{int_val(page)+1}}">Page suivante &gt;</a>
                        </li>
                    </ul>
                </div>
                <span><em>{{unArticle.signature}} ({{article.timestamp.substr(8,2)}}/{{article.timestamp.substr(5,2)}}/{{article.timestamp.substr(0,4)}})</em></span>
            </div>
        </div>
    </div>
</div>