<div class="container-fluid little-margin-top">

    <link rel="stylesheet" type="text/css" href="styles/bootstrapYeti_reseau_realisation.css">

    <!-- Div du bouton de retour à la gestion des réalisations -->
    <div class="middle-neg-margin-top text-center-media">
        <a href="#/gestion_realisations">
            <button class="btn btn-xs btn-primary"><i class="fa fa-arrow-circle-left fa-lg"></i> Retour à la gestion des réalisations</button>
        </a>
    </div>

   <p>Mettez en avant vos compétences et votre savoir-faire en présentant vos réalisations!<br>
    Il s'agit de publier votre portfolio de projets réalisés, de travaux, de vos plans...</p>

        <div>
            <h2>Ajouter une nouvelle réalisation</h2>

            <form>
                <!-- Titre -->
                <div>
                    <h4><strong>Titre</strong></h4>
                    <input type="text" placeholder="Titre" style="width:100%">
                </div>
                <!-- Date -->
                <div class="space-between-fields">
                    <h4><strong>Date</strong></h4>
                     <select>
                        <option value="0">Mois</option>
                        <option ng-repeat="mois in listeMois" value="mois">{{mois}}</option>
                    </select>
                    <select>
                        <option value="0">Année</option>
                        <option ng-repeat="annee in listeAnnees" value="annee">{{annee}}</option>
                    </select>
                </div>
                <!-- Type de travaux -->
                <div class="space-between-fields">
                    <h4><strong>Type de travaux</strong></h4>
                    <select  style="width:100%">
                        <option value="0">Choisir</option>
                        <option ng-repeat="type_trav in facets.type_travaux" value="type_trav.name">{{type_trav.name | traduction}}</option>
                    </select>
                </div>
                <!-- Type de Réalisation -->
                <div class="space-between-fields">
                    <h4><strong>Type de réalisation</strong></h4>
                    <select style="width:100%">
                        <option value="0">Choisir</option>
                        <option ng-repeat="type_real in facets.type_realisation" value="type_real.name">{{type_real.name | traduction}}</option>
                    </select>
                </div>
                <!-- Description -->
                <div class="space-between-fields">
                    <h4><strong>Description</strong></h4>
                    <textarea placeholder="Description" style="width:100%"></textarea>
                </div>
                <!-- Matériau, équipement, marque-->
                <div>
                    <h4><strong>Matériau / Marque / Equipement</strong></h4>
                    <textarea placeholder="Indiquez un matériau, un équipement, une marque..." style="width:100%"></textarea>
                </div>
                <!-- Bouton de validation du formulaire-->
                <div  class="space-between-fields">
                    <input type="file" value="Ajouter une photo">
                </div>
                <div class="text-center space-between-fields">
                    <button class="btn btn-primary" style="width:70%">Enregistrer ma réalisation</button>
                </div>
            </form>
        </div>
</div>