<div class="container-fluid little-margin-top">

    <link rel="stylesheet" type="text/css" href="styles/bootstrapYeti_reseau_realisation.css">

    <!-- Div du bouton de retour à la gestion des réalisations -->
    <div class="middle-neg-margin-top text-center-media">
        <a href="#/gestion_realisations">
            <button class="btn btn-xs btn-primary"><i class="fa fa-arrow-circle-left fa-lg"></i> Retour à la gestion des réalisations</button>
        </a>
    </div>
</div>

<div>
    <h2>Mes réalisations préférées</h2>

    <!-- Div contenant toutes les réalisations -->
    <div ng-repeat="article in articles">
        <a class="sans-style-a" href="#/articles/{{article.id}}">
            <div class="well" style="width:100%; margin-bottom:-20px"> <!-- Mettre un ng-repeat pour chaque réalisations -->
                <!-- Div de l'image -->
                <div>
                    <img ng-src="{{article.sm_image_url[0]}}" class="real-image-size">
                </div>
                <!-- Div des informations de la réalisation -->
                <div>
                    <p style="margin-top:-50px; margin-left:105px; font-size:1.1em">
                        <strong>{{article.label}}</strong>
                    </p> 
                    <!-- Div de la catégorie + texte -->
                    <div style="margin-top:25px">
                        <strong>Créateur</strong> : {{article.sm_createurs[0]}}<br>
                        <span ng-if="article.ss_type_travaux!='undefined'">
                            <strong>Type de travaux</strong> : {{article.ss_type_travaux | traduction}}
                        </span><br>
                        <span ng-if="article.ss_type_real!='undefined'">
                            <strong>Type de réalisation</strong> : {{article.ss_type_real | traduction}} 
                        </span>
                    </div>
                    <div>
                        <p>{{article.teaser}}</p>
                    </div>

                </div>
            </div>
        </a>
    </div>
 </div>